@charset "UTF-8";
body {
	font-family: Georgia; serif;
	font-size: 100%
	background-color: #fcedcd;
	margin: 0 15%;
	font-family: sans-serif;
	background: #fcedcd url(blackgooose.png) no-repeat center 100px fixed;
	}
	
h1 {
	font: bold 1.9em Georgia, serif;
	text-align: center;
	font-weight: normal; 
	text-transform: uppercase;
	text-shadow: .05em .05em .1em lightslategray;
	border-bottom: 1px solid #57b1dc;
	margin-top: 30px;
}
h2 {
	color: #d1633c;
	font-size: 1em;
}
footer {
border-top: 1px solid #57b1dc; text-align: center; padding-top: 1em;
}
footer img {
width: 40px; height: 40px; margin-left: .5em; margin-right: .5em;
}
.label {
	font-weight: bold;
	font-variant: small-caps;
	font-style: normal;
}
a:link {
color: #0195b5;
}
a:visited {
color: #047188;
}